@model OMTModel.OTPConfirmOMT
@{
     ViewData["Title"] = "Login";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card card-header">
                    <h1 class="text-center text-primary">Login</h1>
                </div>
                <div class="card-body">
                    <form method="Post" asp-action="OtpConfirm">
                        <p class="text-center text-danger">@TempData["error"]</p>
                        <p class="text-center text-success">@TempData["message"]</p>
                        <div class="form-group">
                           <input type="hidden" asp-for="Email" value = "@TempData["Email"]"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="OTP"></label>
                            <input type="text" asp-for="OTP" class="form-control" placeholder="Enter OTP"/>
                        </div>
                         <div class="form-group">
                            <input type="submit" value="submit" class="btn btn-sm btn-outline-success floatright"/>
                        </div>
                 </form>
            </div>
         </div>
       </div>
     </div>
    </div>
